# Percona Server template configuration

[mysqld]
#
# Remove leading # and set to the amount of RAM for the most important data
# cache in MySQL. Start at 70% of total RAM for dedicated server, else 10%.
# innodb_buffer_pool_size = 128M
#
# Remove leading # to turn on a very important data integrity option: logging
# changes to the binary log between backups.
# log_bin
#
# Remove leading # to set options mainly useful for reporting servers.
# The server defaults are faster for transactions and fast SELECTs.
# Adjust sizes as needed, experiment to find the optimal values.
# join_buffer_size = 128M
# sort_buffer_size = 2M
# read_rnd_buffer_size = 2M
datadir=/var/lib/mysql
socket=/var/lib/mysql/mysql.sock

# Disabling symbolic-links is recommended to prevent assorted security risks
symbolic-links=0

#log-error=/var/log/mysqld.log
pid-file=/var/run/mysqld/mysqld.pid

max_connections        = 3000
connect_timeout        = 5
wait_timeout           = 28800
interactive_timeout       = 28800
max_allowed_packet       = 16M
thread_cache_size         = 128
sort_buffer_size       = 4M
bulk_insert_buffer_size   = 16M
tmp_table_size        = 32M
max_heap_table_size       = 32M

# logbin
server-id=2
log_bin          = /data/logs/logbin
log_bin_index  = /data/logs/logbin.index
#sync_binlog  = 1
expire_logs_days = 3
max_binlog_size     = 100M
